html {
  position: relative;
  min-height: 100%;
}

/* padding for header and footer */
body{
  padding-top: 65px;
}

.container {
  width:90%;
}

.btn:focus, .btn:active {
  outline: 0 !important;
}

.logo {
  position: absolute;
  top: 12px;
  left: 12px;
  height: 40px;
  /*z-index: 99999;*/
}

#infoSidebar{
  overflow:auto;
}

.btn-zoom{
  position: absolute;
  top: 10px;
  right: 45px;
  z-index: 9999;
  background-color: #ffffff;
  border-color: #AFAFB6;
  font-weight: bold;
  color: #6d6e70;
  box-shadow: 1px 1px 9px #c3c3c5;
}

.navbar-PRC {
  background-color: #f41c1c;
  border-bottom: 2px solid black;
  height: 60px;
}

.navbar-brand-PRC {
  color: black;
  font-size: 20px;
  font-weight: bolder;
  margin-left: 120px;
}

.navbar-right {
  margin-right: 20px;
}

.motto-white {
  color: #fff;
  font-weight: bolder;
  font-size: 120%;
  margin-right: 6px;
}

.motto-red {
  color: #ff1e19;
  font-weight: bolder;
  font-size: 18px;
}

.col-motto {
  background-color: black;
}

.container-motto {
  background-color: black;
}

/********************************************************
 * CSS for social media icons in footer                 *
 * Integrated with Bootstrap and multicoloured on hover *
 ********************************************************/

.social {
    -webkit-transform: scale(0.8);

    /* Browser Variations: */
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}

.social:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}

#social { padding-top: 10px; }

/* Red Initial */
#social-youtube { color: white; }
#social-tw      { color: white; }
#social-medium  { color: white; }
#social-em      { color: white; }

/* Multicoloured Hover Variations */
#social-youtube:hover { color: white; }
#social-tw:hover      { color: white; }
#social-medium:hover  { color: white; }
#social-em:hover      { color: white; }

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
/*body {
   Margin bottom by footer height 
  margin-bottom: 40px;
}*/
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: auto;
  background-color: #f5f5f5;
}